@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

@font-face {
  font-family: "Poppins", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
  font-weight: normal;
  font-style: normal;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.body__background {
  background-color: #F9F9F9;
}

body {
  width: 100%;
}

.button {
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.blackbutton {
  background-color: black;
  color: white;
}


.whitebutton {
  background-color: white;
  color: black;
  margin-left: 30px;
  border: 3px solid #000;
  text-align: center;
  gap: 5px;
  padding: 17px 16px;
  min-width: 72px;
}

.header {
  padding-top: 30px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__left,
.header__nav {
  display: flex;
  gap: 50px;
}

.header__nav {
  padding-top: 15px;
  color: #606060;
  text-transform: uppercase;
}

.header__nav-item,
.header__nav-item:first-child,
.header__nav-link {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.header__nav-item:first-child {
  font-weight: 600;
}

.header__nav-link {
  color: black;
  text-decoration: none;
}

.header__right {
  display: flex;
  gap: 20px;
  width: 40%;
}

.search_box {
  background-color: #EDEDED;
  border-radius: 10px;
  width: 50%;
  text-align: center;
  font-weight: 500;
}

.header__button {
  font-family: "Inter", serif;
  font-weight: 600;
}

.create__main {
  position: relative;
  margin: 10% 0 0 0;
  padding: 0 0 20% 0;
}

.create__container {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.create__left {
  width: 100%;
}

.create__left-title {
  font-weight: 600;
  font-size: 75px;
  position: relative;
}

.create__left-title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 5%;
  width: 60%;
  height: 1px;
  background-color: gray;
}

.create__left-subtitle,
.bonus {
  font-size: 18px;
  line-height: 28px;
  font-family: "Inter", serif;
}

.create__left-subtitle {
  padding: 5% 0;
  color: #676767;

}

.bonus {
  color: black;
  font-weight: 600;
}

.create__left-buttons {
  display: flex;
}

.create__left-result {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.create__result-item,
.create__result-text {
  font-family: "Inter", serif;
  font-weight: 600;
  font-size: 36px;
}

.create__result-text {
  font-size: 12px;
  line-height: 18px;
  color: #848586;
  font-weight: 500;
}

.create__right {
  width: 90%;
}

.create__right-abstraction1 {
  position: absolute;
  left: 48%;
  top: 0;
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.5);
  border-radius: 10%;
  transition: 1000ms;
}

.create__right-abstraction1_active {
  top: 50%;
  left: -50%;

}

.create__right-abstraction2 {
  position: absolute;
  right: 0;
  top: 20%;
}

.create__right-dot {
  position: absolute;
  right: 0;
  top: 0;
}

.create__right-arrow {
  position: absolute;
  width: 120px;
  right: 13%;
  top: 5%;
}

.create__left-result {
  margin-top: 100px;
  gap: 50px;
}

.choose {
  background-color: white;
  box-shadow: 0px 43px 35px -25px #676767;
  border-radius: 25px;
  width: 166px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.create__navigation {
  position: absolute;
  left: 55%;
  top: 60%;
}

.top-navigation {
  margin: 40% auto 0;
}

.top {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #F1F1F1;
  position: relative;
  overflow-x: clip;
  overflow-y: visible;
}

.top__subtitle {
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
  font-weight: 600;
  font-size: 45px;
  color: #C5C5C5;
}


.top__main {
  display: flex;
  position: absolute;
  left: -2%;
  gap: 60px;
}

.card {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: white;
  border-radius: 10%;
  box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.5);
  width: 270px;
  padding-top: 5px;
}

.card__up {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__img {
  width: 252px;
  height: 252px;
}

.card__bot {
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 10px;
  align-items: center;
  margin-top: 10px;
  padding: 0 18px 21px 18px;
}

.card__item {
  display: flex;
  flex-direction: column;
}

.card__name {
  font-weight: 600;
  font-size: 21px;
  padding-bottom: 7px;
}

.card__bid {
  color: #94A3B8;
}

.card__name,
.card__bid {
  margin: 0;
}

.card__price {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card__right {
  display: flex;
  justify-content: flex-end;
}

.card__img {
  border-radius: 10%;
  border: 10px solid #0000;
}

.card__button {
  margin-top: 40%;
  padding: 10px 10px;
}

.card__ETH-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.profitperc {
  color: #10C352;
}

.deficitperc {
  color: red;
}

h2 {
  font-weight: 600;
  font-size: 45px;
  line-height: 45px;
  text-align: center;
}

.collection {
  margin-top: 200px;
}

.collection__grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr repeat(4, 2fr);
  gap: 10px;
  margin: 20px auto;
  row-gap: 20px;
  text-align: center;
  margin-top: 85px;
}

.collection__grid-header:first-child {
  text-align: left;
}

.ETH__price,
.collection__grid-item,
.collection__grid-header {
  font-weight: 500;
  font-size: 24px;
}

.collection__text-name {
  font-weight: 500;
  font-size: 28px;
}

.collection__text-nickname,
.collection__grid-header {
  font-size: 22px;
}

.collection__grid-item,
.collection__grid-header {
  padding: 15px;
  line-height: 130%;
  border-bottom: 0.5px solid #EBE9E9;
}

.collection__grid-header {
  color: #93989A;
}

.user {
  display: flex;
  text-align: left;
  padding: 0;
}

.collection__img {
  width: 84px;
  height: 84px;
}

.collection__text-name {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.collection__text-nickname {
  color: #64748B;
}

.collection__ETH {
  padding-top: 5%;
}

.view__all {
  text-align: end;
}

.marketplace {
  border-bottom: 1px solid #64748B;
  visibility: 15%;
  padding-bottom: 100px;
}

.marketplace__container {
  padding-top: 10%;
  width: 80%;
}

.marketplace__filters {
  display: flex;
  margin: 0 auto;
  width: 650px;
  justify-content: center;
  padding-top: 50px;
}

.marketplace__main {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  justify-content: space-between;
  padding-top: 100px;
}

.marketplace__button {
  border-radius: 14px;
  text-transform: none;
}

.marketplace__view-all {
  padding-top: 100px;
  text-align: end;
}

.community {
  padding-top: 10%;
  padding-bottom: 10%;
  margin: auto;
  width: 90%;
}

.community__container {
  display: flex;
  gap: 50px;
}

.community__left {
  width: 80%;
}

.community__subtitle,
.community__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 39px;
  color: #C5C5C5;
}

.community__title {
  color: #18181B;
}

.community__list {
  padding: 50px 0;
}

.community__list-item,
.best-row,
.best__title {
  padding: 10px;
}

.check__icon {
  padding-right: 10px;
}

.community__right {
  width: 100%;
}

.best {
  left: 30%;
  top: 10%;
  width: 35%;
  display: block;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 7px 15px 1px #848586;
}

.best__title {
  font-weight: 600;
  font-size: 18.5px;
  letter-spacing: 0.18px;
  line-height: 135%;
}

.best-row,
.best-row__left {
  display: flex;
  justify-content: space-between;
}

.best__main-img,
.community__right,
.best {
  position: relative;
}

.community__viewed,
.viewed,
.best__img-number,
.community__dots,
.notification {
  position: absolute;
}

.best__img-number {
  top: 5%;
  left: 60%;
  width: 15px;
  height: 15px;
  border-radius: 80%;
  text-align: center;
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 7px;
  line-height: 12px;

}

.best__main-name {
  padding-left: 10px;
  font-weight: 500;
  font-size: 12.2px;
  line-height: 20.9px;

}

.best__main-nickname {
  font-size: 10.4px;
  line-height: 17.4px;
  color: #777E90;
  padding: 0 10px;
}

.best__text {
  display: flex;
  flex-direction: column;
}

.best__follow,
.best__unfollow {
  font-weight: 700;
  font-size: 10px;
  line-height: 20px;
  color: #23262F;
  border: 2px solid #E6E8EC;
  border-radius: 5px;
  width: 50px;
  height: 20px;
}

.best__unfollow {
  background-color: #E6E8EC;
}

.viewed,
.community__viewed {
  left: 70%;
  top: 90%;
  height: 23%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 7px 15px 1px #848586;
  padding-right: 10px;
}

.community__viewed {
  left: -60%;
  top: 70%;
  height: 45%;
}

.viewed__header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #606060;
}

.viewed__title {
  font-weight: 600;
  font-size: 21px;
  color: #1A202C;
}

.viewed__main-container {
  display: flex;
  gap: 20px;
  padding: 10px 0 0 10px;
}

.viewed__main-container-img {
  position: relative;
}

.viewed__number {
  position: absolute;
  top: 40%;
  left: 70%;
  border: 8px solid white;
  border-radius: 100%;
  background-color: white;
  font-weight: 700;
  font-size: 11px;
}

.viewed__text-name {
  display: block;
  font-weight: 500;
  line-height: 140%;
  color: #1A202C;
}

.viewed__text-nickname {
  font-size: 12px;
  line-height: 150%;
  color: #64748B
}

.viewed__ETH-price {
  font-weight: 600;
  font-size: 15px;
  line-height: 140%;
  padding-left: 5px;
}

.viewed__profitperc,
.viewed__deficitperc {
  color: #10C352;
  text-align: center;
  font-size: 12px;
  line-height: 150%;
  padding-left: 12px;
}

.viewed__deficitperc {
  color: red;
}

.viewed__price {
  padding-left: 70px;
}

.community__dots {
  top: 70%;
  left: 55%;
}

.notification {
  left: 60%;
  top: -10%;
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 7px 15px 1px #848586;
}

.notification__dot {
  margin-left: 10px;
  background-color: #000;
  border-radius: 20px;
  height: 10px;
  width: 10px;
}

.notification__avatar {
  margin: auto;
  position: relative;
}

.notification__avatar-img {
  width: 40px;
  height: 40px;
}

.notification__avatar-check {
  position: absolute;
  top: 0;
  left: 70%;
  width: 15px;
  height: 15px;
}

.notification__text {
  margin: auto;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  color: #141416;
}

.notification__bid {
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
  color: #949494;
}

.notification__text-data {
  font-size: 10px;
  color: #949494;
}

.notification__img {
  margin: auto;
}

.join__container,
.join__outer-circle,
.join__inner-circle,
.join__info {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.join__container {
  width: 90%;
  height: 90%;
  margin: 100px 0 300px 0;
}

.join__info {
  flex-direction: column;
}

.join__outer-circle,
.join__inner-circle {
  position: relative;
  border-radius: 50%;
  border: 2px solid #D2D2D2;
}

.join__outer-circle {
  width: 1061px;
  height: 1061px;
}

.join__inner-circle {
  width: 831px;
  height: 831px;
}

.join__title {
  font-weight: 800;
  font-size: 45px;
  line-height: 55px;
  color: #C5C5C5;
}

.join__subtitle {
  font-weight: 600;
  font-size: 45px;
  line-height: 39px;
  color: #18181B;
}

.join__text {
  padding: 20px 0 40px 0;
  line-height: 25px;
  color: #12141D;
}

.join__button {
  align-items: center;
  background-color: black;
  color: white;
  border: 2px solid #000;
}

.planets {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.planet,
.outer-planet {
  border-radius: 50%;
}

.planet {
  width: 51px;
  height: 51px;
}

.outer-planet {
  width: 30px;
  height: 30px;
}

.planet-1,
.planet-2,
.planet-3,
.planet-4,
.outer-1,
.outer-3,
.outer-5,
.outer-7 {
  position: absolute;
  transform: translate(-50%, -50%);
}

.planet-1 {
  top: 0%;
  left: 40%;
}

.planet-2 {
  top: 60%;
  left: 100%;
}

.planet-3 {
  top: 100%;
  left: 50%;
}

.planet-4 {
  top: 50%;
  left: 0%;
}

.outer-planets {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.outer-1 {
  top: 1%;
  left: 60%;
}

.outer-3 {
  top: 50%;
  left: 100%;
}

.outer-5 {
  top: 99%;
  left: 40%;
}

.outer-7 {
  top: 50%;
  left: 0%;
}

.questions__title,
.questions__subtitle {
  font-size: 45px;
  line-height: 140%;
  text-align: center;
}

.questions__title {
  font-weight: 800;
  color: #18181B;
}

.questions__subtitle {
  font-weight: 600;
  color: #C5C5C5;
}

.questions__main-row {
  padding-top: 30px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ADADAD;
}

.questions__main-row__text {
  font-weight: 600;
  font-size: 25px;
  line-height: 65px;
  color: #323142;
}

.sell__container {
  margin-top: 150px;
  background-color: #141416;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sell__container-left__title {
  padding-top: 30px;
  padding-left: 50px;
  font-weight: 600;
  font-size: 45px;
  line-height: 130%;
  color: #FFFFFF;
}

.sell__container-left__text {
  padding: 10px 0 30px 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #93989A;
}

.sell__buttons {
  display: flex;
  gap: 20px;

}

.sell__button,
.sell__container-right {
  padding: 20px;
}

.sell__button {
  border: 1px solid #FFFFFF;
}

.sell__container-right__img {
  margin: auto;
  border-radius: 20px;
  box-shadow: 2px 4px 16px 0px #FFFFFF;
}

.footer {
  background-color: #141416;
}

.footer__header {
  margin-top: 50px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.org__name {
  padding-left: 10px;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 600;
}

.logo__white {
  display: flex;
  align-items: center;
}

.footer__menu {
  display: flex;
  gap: 70px;
}

.footer__menu-item {
  padding-top: 20px;
  color: #B9B9B9;
  font-family: "Inter", serif;
  font-size: 18px;
}

.footer__contacts::after {
  content: "";
  position: absolute;
  left: 0;
  top: 15%;
  width: 100%;
  height: 1px;
  opacity: 25%;
  background-color: #818181;
}

.footer__contacts {
  padding: 57px 0 80px 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer__contacts-left {
  color: #999999;
}

.footer__contacts-right {
  display: flex;
  gap: 53px;
}

.footer__contacts-logo {
  display: flex;
  justify-content: space-between;
}

.discover__container {
  padding-top: 10%;
  width: 80%;
}

.discover__filters {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 40%;
  justify-content: center;
  padding-top: 50px;
}

.discover__main {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  justify-content: space-between;
  padding-top: 100px;
}

.discover__button {
  border-radius: 14px;
  text-transform: none;
}

.loading-img {
  display: flex;
  justify-content: center;
  margin: 175px auto;
}

.detail__row {
  margin: 100px 0 50px 0;
  display: flex;
  align-items: center;
  gap: 34px;
  margin-left: 80px;
}

.detail__header-title {
  font-weight: bolder;
  font-size: 31px;
  line-height: 27px;
  color: #23262F;
}

.detail__container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  border: 35px solid #FFFFFF;
  border-radius: 25px;
  box-shadow: 17px 17px 61px 1px #61616140;
}

.detail__right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detail__right-title {
  font-size: 51px;
  font-weight: 600;
  line-height: 31px;
}

.detail__right-text {
  font-size: 19px;
  line-height: 29px;
  color: #888888B2;

}

.detail__right-avatar {
  padding-top: 50px;
  display: flex;
  gap: 80px;
}

.detail__avatar-creator {
  display: flex;
  align-items: center;

}

.detail__avatar-img {
  width: 65px;
  height: 65px;
}

.detail__avatar-text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 5px 0 0 10px;
}

.detail__avatar-text__by {
  font-size: 17px;
  line-height: 100%;
  color: #8D8D8D;
}

.detail__avatar-text__name {
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
}

.detail__avatar-owner {
  display: flex;
  align-items: center;
}

.detail__right-info {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail__info-price,
.detail__info-data {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #8C8C8C;
  font-size: 17px;
  line-height: 22px;
  gap: 10px;
}

.detail__info-price {
  align-items: flex-start;
}

.detail__info-bid {
  align-items: flex-end;
}


.detail__ETH-price {
  font-weight: 600;
  font-size: 32px;

  color: #000;
}

.detail__info-data__text {
  padding-left: 140px;
  padding-bottom: 5px;
}

.detail__info-data__time {
  font-size: 19.23px;
  line-height: 30.23px;
  color: #000;
}

.detail__button {
  margin-top: 55px;
  padding: 22px 150px;
  gap: 10px;
  font-weight: 700;
  text-transform: capitalize;
}

.creator {
  /* padding-top: 100px; */
}

.creator__title {
  font-weight: 600;
  font-size: 31px;
  line-height: 27px;
  color: #C3C3C3;
  margin: 0 auto;
  padding-left: 80px;
  margin-top: 100px;
}

.creator__container {
  padding-top: 40px;
  display: flex;
  gap: 50px;
}

.minicard {
  display: grid;
  background-color: white;
  border-radius: 10%;
  box-shadow: 17px 11px 60px 1px #61616140;
  width: 215px;
  padding-top: 10px;
}

.minicard__top {
  display: flex;
  justify-content: center;
}

.minicard__img {
  width: 188px;
  height: 164px;

}

.minicard__bot {
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 10px;
  align-items: center;
  margin-top: 10px;
  padding: 0 18px 21px 18px;
}

.minicard__author {
  margin: 5px 0;
}

.minicard__author-checked {
  padding-top: 1px;
}

.minicard__author-name {
  font-weight: 700;
}

.minicard__name {
  font-weight: 600;
  font-size: 17px;
}

.minicard__price {
  margin-top: 10px;
}

.minicard__ETH-price {
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 7px;
  line-height: 26px;
}

.minicard__right {
  margin-top: 170%;
}

.minicard__right-like {
  width: 13px;
  height: 13px;
  margin-top: 3px;
}

.minicard__right-number {
  color: #888888;
}

.history {
  position: relative;
  margin-top: 30px;

}

.history__container {}

.history__schedule {
  width: 80%;
}

.history__window {
  background-color: #FFFFFF;
  position: absolute;
  top: 82%;
  right: 5%;
  width: 25%;
  box-shadow: 17px 17px 60px #0000001F;
  border-radius: 16px;
}

.history__window-header {
  margin: 36px 0px 0px 28px;
}

.history__window-header__text {
  font-weight: 600;
  line-height: 22px;
  font-size: 16px;
}

.history__window-header__data {
  color: #888888;
  font-size: 11px;
  line-height: 13px;
}

.history__window-main {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.history__window-row {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  box-shadow: -4px 9px 15px 0 #10101026;
  border-radius: 9px;
  padding: 10px;
  margin: 8px 0;
}


.history__window-row__left {
  display: flex;
}


.history__window-img {
  position: relative;
  width: 46px;
  height: 46px;
}

.history__window-checked {
  position: absolute;
  left: 16%;
  ;
}

.history__window-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.history__window__text-name {
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
}

.history__window__text-date {
  color: #9C9C9C;
  font-size: 11px;
  line-height: 13px;
}

.history__window-row__right {
  margin-right: 35px;
  padding-top: 10px;
}


.history__window-row__right-ETH__price {
  font-weight: 500;
  font-size: 15px;
}

.history__window-buy {
  margin: 20px 0;
}

.history__window-buy__text {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  padding-left: 5px;
}

.history__window-buy__area {
  border: 1px solid #000;
  border-radius: 15px;

}

.history__window-buttonbid {
  width: 40%;
  text-align: center;
  padding-left: 40px;
  border-right: 20px solid #000;
  border-radius: 14px;
}

.history__window-buttonbuy {
  padding: 15px;
  padding-left: 35%;
  gap: 10px;
  text-transform: capitalize;
  margin-bottom: 20px;
  border-radius: 14px;
}

.history__window.active {
  position: fixed;
  width: 26%;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition-duration: 700ms;
  border: 2px solid #000;
  transition-duration: 200ms;
}


.fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; 
}


.blur {
  filter: blur(5px);
  transition: filter 0.3s ease;
}


