@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

@font-face {
  font-family: "Poppins", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
  font-weight: normal;
  font-style: normal;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

a {
  color: black;
  text-decoration: none;

}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.body__background {
  background-color: #F9F9F9;
  width: 100%;
}

body {
  width: 100%;
}

.button {
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  white-space: nowrap;
}

.blackbutton {
  background-color: black;
  color: white;
}


.whitebutton {
  background-color: white;
  color: black;
  margin-left: 30px;
  border: 3px solid #000;
  text-align: center;
  gap: 5px;
  padding: 17px 16px;
  min-width: 72px;
}

.header {
  padding-top: 30px;
}

.header__container {
  display: flex;
  gap: 100px;
}

.header__left,
.header__nav {
  display: flex;
  gap: 50px;
}

.header__nav {
  padding-top: 15px;
  color: #606060;
  text-transform: uppercase;
}

.header__nav-item,
.header__nav-item:first-child,
.header__nav-link {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: clamp(12px, 8vw, 18px);
  line-height: 27px;
}

.header__nav-item:first-child {
  font-weight: 600;
}

.header__nav-link {
  color: #606060;
  text-decoration: none;
}

.header__nav-link_active {
  color: black;
  font-weight: 600;
}

.header__right {
  display: flex;
  gap: 200px;
  width: 50%;
}

.search_box {
  position: relative;
  background-color: #EDEDED;
  border-radius: 10px;
  width: 170%;
  padding: 15px;
  text-align: center;
  font-weight: 500;
}

.search-icon {
  position: absolute;
  left: 52%;
  top: 65%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  fill: gray;
  pointer-events: none;
}

.header__button {
  font-family: "Inter", serif;
  font-weight: 600;
  height: 90%;
}

.features__main {
  position: relative;
  margin: 10% 0 0 0;
  padding: 0 0 20% 0;
}

.features__container {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.features__left {
  width: 100%;
}

.features__left-title {
  font-size: 72px;
  font-weight: 600;
  position: relative;

}

.features__left-title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 5%;
  width: 60%;
  height: 1px;
  background-color: #D0D0D0;
}

.features__left-subtitle,
.bonus {
  font-size: 18px;
  line-height: 28px;
  font-family: "Inter", serif;
}

.features__left-subtitle {
  padding: 5% 0;
  color: #676767;

}

.bonus {
  color: black;
  font-weight: 600;
}

.features__left-buttons {
  display: flex;
}

.features__left-result {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.features__result-item,
.features__result-text {
  font-family: "Inter", serif;
  font-weight: 600;
  font-size: 36px;
}

.features__result-text {
  font-size: 12px;
  line-height: 18px;
  color: #848586;
  font-weight: 500;
}

.features__right {
  width: 90%;
}

.features__right-abstraction1 {
  position: absolute;
  left: 48%;
  top: 0;
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.5);
  border-radius: 10%;
  transition: 1000ms;
}

.features__right-abstraction1_active {
  top: 50%;
  left: -50%;

}

.features__right-abstraction2 {
  position: absolute;
  left: 74%;
  top: 20%;
}

.features__right-dot {
  position: absolute;
  left: 90%;
  top: 0;
}

.features__right-arrow {
  position: absolute;
  width: 120px;
  right: 13%;
  top: 5%;
}

.features__left-result {
  margin-top: 100px;
  gap: 50px;
}

.features__navigation,
.top__navigation {
  background-color: white;
  box-shadow: 0px 43px 35px -25px #676767;
  border-radius: 25px;
  width: 166px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.features__navigation {
  position: absolute;
  left: 55%;
  top: 60%;
}

.top__navigation {
  margin: 40% auto 0;
}

.top {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #F1F1F1;
  position: relative;
  overflow-x: clip;
  overflow-y: visible;
}

.subtitle_gray {
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
  font-weight: 600;
  font-size: 45px;
  color: #C5C5C5;
}


.top__main {
  display: flex;
  position: absolute;
  left: -2%;
  gap: 70px;
}

.card {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  background-color: white;
  border-radius: 10%;
  box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 270px;
  padding-top: 5px;
}

.card__up {
  display: flex;
  justify-content: center;
  align-items: center;
}



.card__bot {
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 10px;
  align-items: center;
  margin-top: 10px;
  padding: 0 18px 21px 18px;
}

.card__item {
  display: flex;
  flex-direction: column;
}

.card__name {
  font-weight: 600;
  font-size: 21px;
  padding-bottom: 7px;
  width: 120%;
}

.card__namea {
  font-weight: 600;
  font-size: 21px;
  padding-bottom: 7px;
  text-decoration: none;
  white-space: nowrap;
}

.card__bid {
  color: #94A3B8;
}

.card__name,
.card__bid {
  margin: 0;
}

.card__price {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card__right {
  display: flex;
  justify-content: flex-end;
}

.card__img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  padding: 10px;
}

.card__button {
  width: auto;
  height: auto;
  margin-top: 40%;
  padding: 10px 10px;
}

.card__ETH-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.profitperc {
  color: #10C352;
}

.deficitperc {
  color: red;
}

.subtitle {
  font-weight: 600;
  font-size: 45px;
  line-height: 45px;
  text-align: center;
}

.collection {
  margin-top: 200px;
}

.collection__grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr repeat(4, 2fr);
  gap: 10px;
  margin: 20px auto;
  row-gap: 20px;
  text-align: center;
  margin-top: 85px;
}

.collection__grid-header:first-child {
  text-align: left;
}

.ETH__price,
.collection__grid-item,
.collection__grid-header {
  font-weight: 500;
  font-size: 24px;
}

.collection__text-name {
  font-weight: 500;
  font-size: 28px;
}

.collection__text-nickname,
.collection__grid-header {
  font-size: 22px;
}

.collection__grid-item,
.collection__grid-header {
  padding: 15px;
  line-height: 130%;
  border-bottom: 0.5px solid #EBE9E9;
}

.collection__grid-header {
  color: #93989A;
}

.user {
  display: flex;
  text-align: left;
  padding: 0;
}

.collection__img {
  width: 84px;
  height: 84px;
}

.collection__text-name {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.collection__text-nickname {
  color: #64748B;
}

.collection__ETH {
  padding-top: 5%;
}

.view__all {
  text-align: end;
}

.marketplace {
  border-bottom: 1px solid #64748B;
  visibility: 15%;
  padding-bottom: 100px;
}

.marketplace__container {
  padding-top: 10%;
  width: 80%;
}

.marketplace__filters {
  display: flex;
  margin: 0 auto;
  width: 650px;
  justify-content: center;
  padding-top: 50px;
}

.marketplace__main {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  justify-content: space-between;
  padding-top: 100px;
}

.marketplace__button {
  border-radius: 14px;
  text-transform: none;
}

.marketplace__view-all {
  padding-top: 100px;
  text-align: end;
}

.community {
  padding-top: 10%;
  padding-bottom: 10%;
  margin: auto;
  width: 90%;
}

.community__container {
  display: flex;
  gap: 50px;
}

.community__left {
  width: 80%;
}

.community__subtitle,
.community__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 39px;
  color: #C5C5C5;
}

.community__title {
  color: #18181B;
}

.community__list {
  padding: 50px 0;
}

.community__list-item,
.best-row,
.best__title {
  padding: 10px;
}

.check__icon {
  padding-right: 10px;
}

.community__right {
  width: 100%;
}

.best {
  left: 30%;
  top: 10%;
  width: 300px;
  display: block;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 7px 15px 1px #848586;
}

.best__title {
  font-weight: 600;
  font-size: 18.5px;
  letter-spacing: 0.18px;
  line-height: 135%;
}

.best-row,
.best-row__left {
  display: flex;
  justify-content: space-between;
}

.best__main-img,
.community__right,
.best {
  position: relative;
}

.community__viewed,
.viewed,
.best__img-number,
.community__dots {
  position: absolute;
}

.best__img-number {
  top: 5%;
  left: 60%;
  width: 15px;
  height: 15px;
  border-radius: 80%;
  text-align: center;
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 7px;
  line-height: 12px;

}

.best__main-name {
  padding-left: 10px;
  font-weight: 500;
  font-size: 12.2px;
  line-height: 20.9px;

}

.best__main-nickname {
  font-size: 10.4px;
  line-height: 17.4px;
  color: #777E90;
  padding: 0 10px;
}

.best__text {
  display: flex;
  flex-direction: column;
}

.best__follow,
.best__unfollow {
  font-weight: 700;
  font-size: 10px;
  line-height: 20px;
  color: #23262F;
  border: 2px solid #E6E8EC;
  border-radius: 5px;
  width: 50px;
  height: 20px;
}

.best__unfollow {
  background-color: #E6E8EC;
}

.viewed,
.community__viewed {
  left: 70%;
  top: 90%;
  height: auto;
  border: 5px solid white;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 7px 15px 1px #848586;
  padding-right: 10px;
}

.community__viewed {
  left: -60%;
  top: 70%;
  height: 45%;
}

.viewed__header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #606060;
}

.viewed__title {
  font-weight: 600;
  font-size: 21px;
  color: #1A202C;
}

.viewed__main-container {
  display: flex;
  gap: 20px;
  padding: 10px 0 0 10px;
}

.viewed__main-container-img {
  position: relative;
}

.viewed__number {
  position: absolute;
  top: 40%;
  left: 75%;
  border: 5px solid white;
  border-radius: 25px;
  background-color: white;
  font-weight: 700;
  font-size: 11px;
}

.viewed__text-name {
  display: block;
  font-weight: 500;
  line-height: 140%;
  color: #1A202C;
}

.viewed__text-nickname {
  font-size: 12px;
  line-height: 150%;
  color: #64748B
}

.viewed__ETH-price {
  font-weight: 600;
  font-size: 15px;
  line-height: 140%;
  padding-left: 5px;
}

.viewed__profitperc,
.viewed__deficitperc {
  color: #10C352;
  text-align: center;
  font-size: 12px;
  line-height: 150%;
  padding-left: 12px;
}

.viewed__deficitperc {
  color: red;
}

.viewed__price {
  padding-left: 70px;
}

.community__dots {
  top: 70%;
  left: 55%;
}

.notification {
  position: absolute;
  left: 60%;
  top: -10%;
  width: 300px;
  height: 15%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 7px 15px 1px #848586;
}

.notification__dot {
  margin-left: 10px;
  background-color: #000;
  border-radius: 20px;
  height: 10px;
  width: 10px;
}

.notification__avatar {
  margin: auto;
  position: relative;
}

.notification__avatar-img {
  width: 40px;
  height: 40px;
}

.notification__avatar-check {
  position: absolute;
  top: 0;
  left: 70%;
  width: 15px;
  height: 15px;
}

.notification__text {
  margin: auto;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  color: #141416;
}

.notification__bid {
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
  color: #949494;
}

.notification__text-data {
  font-size: 10px;
  color: #949494;
}

.notification__img {
  margin: auto;
}

.join__container,
.join__outer-circle,
.join__inner-circle,
.join__info {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.join__container {

  margin: 100px auto 300px auto;
}

.join__info {
  flex-direction: column;
}

.join__outer-circle,
.join__inner-circle {
  position: relative;
  border-radius: 50%;
  border: 2px solid #D2D2D2;
}

.join__outer-circle {
  width: 1061px;
  height: 1061px;
}

.join__inner-circle {
  width: 831px;
  height: 831px;
}

.join__title {
  font-weight: 800;
  font-size: 45px;
  line-height: 55px;
  color: #C5C5C5;
}

.join__subtitle {
  font-weight: 600;
  font-size: 45px;
  line-height: 39px;
  color: #18181B;
}

.join__text {
  padding: 20px 0 40px 0;
  line-height: 25px;
  color: #12141D;
}

.join__button {
  text-transform: none;
  align-items: center;
  background-color: black;
  color: white;
  border: 2px solid #000;
}

.planets {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.planet,
.outer-planet {
  border-radius: 50%;
}

.planet {
  width: 51px;
  height: 51px;
}

.outer-planet {
  width: 30px;
  height: 30px;
}

.planet-1,
.planet-2,
.planet-3,
.planet-4,
.outer-1,
.outer-3,
.outer-5,
.outer-7 {
  position: absolute;
  transform: translate(-50%, -50%);
}

.planet-1 {
  top: 0%;
  left: 40%;
}

.planet-2 {
  top: 60%;
  left: 100%;
}

.planet-3 {
  top: 100%;
  left: 50%;
}

.planet-4 {
  top: 50%;
  left: 0%;
}

.outer-planets {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.outer-1 {
  top: 1%;
  left: 60%;
}

.outer-3 {
  top: 50%;
  left: 100%;
}

.outer-5 {
  top: 99%;
  left: 40%;
}

.outer-7 {
  top: 50%;
  left: 0%;
}

.questions__title,
.questions__subtitle {
  font-size: 45px;
  line-height: 140%;
  text-align: center;
}

.questions__title {
  font-weight: 800;
  color: #18181B;
}

.questions__subtitle {
  font-weight: 600;
  color: #C5C5C5;
}

.questions__main-row {
  padding-top: 30px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ADADAD;
}

.questions__main-row__text {
  font-weight: 600;
  font-size: 25px;
  line-height: 65px;
  color: #323142;
}

.sell__container {
  margin: 150px auto;
  background-color: #141416;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sell__container-left__title {
  padding-top: 30px;
  padding-left: 50px;
  font-weight: 600;
  font-size: 45px;
  line-height: 130%;
  color: #FFFFFF;
}

.sell__container-left__text {
  padding: 10px 0 30px 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #93989A;
}

.sell__buttons {
  display: flex;
  gap: 20px;

}

.sell__button,
.sell__container-right {
  padding: 20px;
}

.sell__button {
  border: 1px solid #FFFFFF;
}

.sell__container-right__img {
  margin: auto;
  border-radius: 20px;
  box-shadow: 5px 7px 16px 0px #FFFFFF;
}

.footer {
  text-align: center;
  padding: 10px 0;
  background-color: #141416;
}

.footer__header {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.org__name {
  padding-left: 10px;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 600;
}

.logo__white {
  display: flex;
  align-items: center;
}

.footer__menu {
  display: flex;
  gap: 70px;
}

.footer__menu-item {
  padding-top: 20px;
  color: #B9B9B9;
  font-family: "Inter", serif;
  font-size: 18px;
}

.footer__contacts::after {
  content: "";
  position: absolute;
  left: 0;
  top: 15%;
  width: 100%;
  height: 1px;
  opacity: 25%;
  background-color: #818181;
}

.footer__contacts {
  padding: 57px 0 80px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer__contacts-left {
  color: #999999;
}

.footer__contacts-right {
  display: flex;
  gap: 53px;
}

.footer__contacts-logo {
  display: flex;
  justify-content: space-between;
}

.discover__container {
  padding-top: 10%;
  width: 85%;
}

.discover__filters {
  display: flex;
  justify-content: center;
  margin: 20 auto;
  padding-top: 30px;
}

.discover__main {
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
  justify-content: space-between;
  padding-top: 100px;
}

.discover__button {
  padding: 15px;
  border-radius: 14px;
  text-transform: none;
}

.loading-img {
  display: flex;
  justify-content: center;
  margin: 170px auto;
}

.detail__row {
  margin: 100px 0 50px 0;
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 34px;
}

.detail__header-title {
  font-weight: bolder;
  font-size: 31px;
  line-height: 27px;
  color: #23262F;
}

.detail__main {
  background-color: white;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  border: 35px solid #FFFFFF;
  border-radius: 25px;
  box-shadow: 17px 17px 61px 1px #61616140;
}

.detail__right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detail__right-title {
  font-size: 51px;
  font-weight: 600;
  line-height: 31px;
}

.detail__right-text {
  font-size: 19px;
  line-height: 29px;
  color: #888888B2;

}

.detail__right-avatar {
  padding-top: 50px;
  display: flex;
  gap: 80px;
}

.detail__avatar-creator {
  display: flex;
  align-items: center;

}

.detail__avatar-img {
  width: 65px;
  height: 65px;
}

.detail__avatar-text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 5px 0 0 10px;
}

.detail__avatar-text__by {
  font-size: 17px;
  line-height: 100%;
  color: #8D8D8D;
}

.detail__avatar-text__name {
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
}

.detail__avatar-owner,
.detail__right-info {
  display: flex;
  align-items: center;
}

.detail__right-info {
  margin-top: 65px;
  justify-content: space-between;
}

.detail__info-price,
.detail__info-data {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #8C8C8C;
  font-size: 17px;
  line-height: 22px;
  gap: 10px;
}

.detail__info-data {
  align-items: end;
}

.detail__info-price {
  align-items: flex-start;
}

.detail__info-bid {
  align-items: flex-end;
}


.detail__ETH-price {
  font-weight: 600;
  font-size: 32px;
  color: #000;
}

.detail__info-data__text {
  padding: 0 0 5px 140px;
}

.detail__info-data__time {
  font-size: 19.23px;
  line-height: 30.23px;
  color: #000;
}

.detail__button {
  margin-top: 55px;
  padding: 22px 150px;
  gap: 10px;
  font-weight: 700;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
}

.creator__title {
  font-weight: 600;
  font-size: 31px;
  line-height: 27px;
  color: #C3C3C3;
  margin: 0 auto;
  padding-left: 80px;
  margin-top: 100px;
}

.creator__container {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.minicard {
  display: grid;
  grid-template-columns: 1fr ;
  background-color: white;
  border-radius: 10%;
  box-shadow: 17px 11px 60px 1px #61616140;
  width: 215px;
  padding-top: 10px;
}

.minicard__top {
  display: flex;
  justify-content: center;
}

.minicard__img {
  width: 188px;
  height: 164px;

}

.minicard__bot {
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 10px;
  align-items: center;
  margin-top: 10px;
  padding: 18px;
}

.minicard__author {
  margin: 5px 0;
}

.minicard__author-checked {
  padding-top: 1px;
}

.minicard__author-name {
  font-weight: 700;
}

.minicard__name {
  font-weight: 600;
  font-size: 17px;
}

.minicard__price {
  margin-top: 10px;
}

.minicard__ETH-price {
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 7px;
  line-height: 26px;
}

.minicard__right {
  margin-top: 170%;
}

.minicard__right-like {
  width: 13px;
  height: 13px;
  margin-top: 3px;
}

.minicard__right-number {
  color: #888888;
}

.history {
  position: relative;
  margin: 100px 0;
}

.history__schedule {
  width: 80%;
}

.history__window {
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  box-shadow: 17px 17px 60px #0000001F;
  border-radius: 16px;
}

.history__window-header {
  margin: 36px 0px 0px 28px;
}

.history__window-header__text {
  font-weight: 600;
  line-height: 22px;
  font-size: 16px;
}

.history__window-header__data {
  color: #888888;
  font-size: 11px;
  line-height: 13px;
}

.history__window-main {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.history__window-row {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  box-shadow: -4px 9px 15px 0 #10101026;
  border-radius: 9px;
  padding: 10px;
  margin: 8px 0;
}


.history__window-row__left {
  display: flex;
}


.history__window-img {
  position: relative;
  width: 46px;
  height: 46px;
}

.history__window-checked {
  position: absolute;
  left: 18%;

}

.history__window-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.history__window__text-name {
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
}

.history__window__text-date {
  color: #9C9C9C;
  font-size: 11px;
  line-height: 13px;
}

.history__window-row__right {
  padding-top: 10px;
}


.history__window-row__right-ETH__price {
  font-weight: 500;
  font-size: 15px;
}

.history__window-buy {
  margin: 20px 0;
}

.history__window-buy__text {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  padding-left: 5px;
}

.history__window-buy__area {
  border: 1px solid #000;
  border-radius: 15px;

}

.history__window-buttonbid {
  width: 40%;
  text-align: center;
  padding-left: 40px;
  border-right: 20px solid #000;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.history__window-buttonbuy {
  padding: 15px;
  padding-left: 35%;
  gap: 10px;
  text-transform: capitalize;
  margin-bottom: 20px;
  border-radius: 14px;
}

.fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  transition-duration: 500ms;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: none;
  z-index: 222;
}

header,
footer {
  position: relative;
  z-index: 1001;
  filter: none;
}

.profile__container {
  width: 100%;
}

.profile__main {
  display: flex;
  justify-content: space-between;
}

.profile__cover {
  margin-top: 100px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 27%;
  margin: 50px 0 0 80px;
}

.profile__info-photo {
  position: relative;

}

.profile__info-img {
  position: absolute;
  top: -180px;
  left: 10px;

}

.profile__info-row {
  display: flex;
  justify-content: space-between;
}

.profile__info-row__left {
  position: relative;
}

.profile__info-row__left::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100px;
  width: 150%;
  height: 1px;
  background-color: #D0D0D0;
}

.profile__info-name {
  font-weight: 600;
  font-size: 35px;
  line-height: 130%;
  color: #010101;
}

.profile__info-nickname {
  font-size: 18px;
  color: #93989A;
  line-height: 130%;
}

.profile__button {
  line-height: 100%;
  width: 110%;
  padding: 15px;
  margin-top: 10px;
}

.profile__info-result {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  padding-top: 30px;
}

.profile__info-result__item {
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
}

.profile__info-result__text {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  color: #848586;
}

.profile__info-bio {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.profile__info-bio__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  color: #C5C5C5;
}

.profile__info-bio__text {
  color: #949494;
  padding-bottom: 80px;
}

.profile__info-bio__text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 1px;
  background-color: #D0D0D0;
}

.profile__info-link {
  gap: 60px;
  display: flex;
}

.profile__slide {
  width: 50%;
  margin-right: 50px;
}

.profile__slide-tabs {
  display: flex;
  gap: 10px;
  padding-bottom: 5px;
  text-align: center;
}

.profile__slide-tab {
  padding: 10px 20px;
  cursor: pointer;
  color: gray;
  position: relative;
  width: 50%;
  opacity: 0.5;
  transition-duration: 50ms;
}

.profile__slide-tab.active {
  color: black;
  font-weight: bold;
  width: 50%;
  opacity: 1;
  transition-duration: 50ms;

}

.profile__slide-tab.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background: black;

}

.profile__slide-tab img {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.profile__slide-tab.active img {
  opacity: 1;
  transition-duration: 50ms;
}

.profile__collection-main {
  margin-top: 85px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.profile__collection-main .card {
  width: 28%;
  height: 25%;
}

.profile__collection-main .card__name {
  font-size: 15px;
  padding: 0;
}

.profile__collection-main .card__namea {
  font-size: 15px;
  white-space: nowrap;
}

.profile__collection-main .card__bid {
  font-size: 10px;
}

.profile__collection-main .card__button {
  font-size: 9px;
}

.profile__collection-main .loading-img {
  padding: 0;
}

.profile__collection-main .card__ETH-price {
  font-size: 11px;
}

.content {
  margin-top: 50px;
}

.profile__slide-collection,
.profile__slide-activity {
  display: none;
}

.profile__slide-collection .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.profile__slide-collection .grid div,
.profile__slide-activity .buttons button,
.profile__slide-activity .row {
  background: #ddd;
  padding: 20px;
  border-radius: 5px;
}

.activity {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 80px;
}

.activity__filters {
  margin-left: -20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.activity__button {
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
  padding: 13px 90px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #FFFFFF;
  box-shadow: 20px 13px 66px 0px #61616140;
}

.activity__item {
  padding: 15px;
}

.activity__top {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D2D2D2;
  padding-bottom: 10px;
}

.activity__top-img {
  position: absolute;
  top: 25%;
  right: 2%;
}

.activity__name {
  display: flex;
}

.activity__list {
  background-color: #FFFFFF;
  margin-top: 50px;
  border-radius: 12px;
  box-shadow: 18px 12px 64px 0px #61616140;
}


.activity__name-text {
  padding: 10px 0 0 10px;
}

.activity__title {
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
}

.activity__author {
  font-size: 12px;
}

.activity__status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding-right: 40px;
}

.activity__status-text {
  color: #14A760;
  font-size: 12px;
}

.activity__time {
  font-size: 12px;
  color: #D2D2D2;
  font-weight: 400;
}


.activity__details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-align: center;
  font-size: 11px;
  line-height: 14px;
  padding-top: 15px;
}

.activity__details-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #828282;
  font-size: 11px;
  line-height: 14px;

}

.activity__details-number {
  color: #000000;
  font-weight: bold;
  margin-top: 2px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

.activity__details-item .card__price {
  color: #000;
  margin-top: 2px;
}

.create__container {
  margin-top: 150px;
}

.create__main {
  position: relative;
  display: flex;
}

.create__main-left {
  width: 100%;
}


.create-img {
  position: absolute;
  top: 15%;
  right: 3%;
  background-color: #FFFFFF;
  border: 150px solid #FFFFFF;
  border-radius: 30px;
  box-shadow: 0 82px 82px -62px #0F0F0F1A;
}

.upload__button {
  position: absolute;
  top: 53%;
  right: 10%;
  padding: 20px 130px;
  text-transform: none;
}

.create__info {
  margin-top: 150px;
  width: 55%;
}

.form {
  width: 100%;
  max-width: 400px;
  background: #EFEFEF;
  padding: 20px;
  border-radius: 10px;
}

.form__input-wrapper textarea {
  height: 120px;
}

.create__info-select {
  display: flex;
  align-items: center;
  gap: 15px;
}

.form__select,
.form__input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  background: #EFEFEF;
  outline: none;
}

.form__title {
  font-size: 18px;
  font-weight: bold;
  margin: 25px 0;
}

.form__input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.form__icon {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.price-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #EFEFEF;
  overflow: hidden;
}

.currency-select {
  width: 30%;
  border: none;
  background: transparent;
  padding-left: 10px;
}

.price-input {
  width: 70%;
  border: none;
  background: transparent;
  padding-left: 10px;
  border-left: 1px solid #DADADA;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.checkbox-ios {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  user-select: none;
}

.checkbox-ios .checkbox-ios-switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 56px;
  height: 28px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 25%/50%;
  vertical-align: top;
  background: #E7E4E4;
  transition: .2s;
}

.checkbox-ios .checkbox-ios-switch:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  transition: .15s;
}

.checkbox-ios input[type=checkbox] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-ios input[type=checkbox]:not(:disabled):active+.checkbox-ios-switch:before {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
}

.checkbox-ios input[type=checkbox]:checked+.checkbox-ios-switch {
  background: #000000;
}

.checkbox-ios input[type=checkbox]:checked+.checkbox-ios-switch:before {
  transform: translateX(28px);
}

.checkbox-ios input[type="checkbox"]:not(:disabled)+.checkbox-ios-switch {
  cursor: pointer;
  border-color: rgba(0, 0, 0, .3);
}

.checkbox-ios input[type=checkbox]:disabled+.checkbox-ios-switch {
  filter: grayscale(70%);
  border-color: rgba(0, 0, 0, .1);
}

.checkbox-ios input[type=checkbox]:disabled+.checkbox-ios-switch:before {
  background: #eee;
}

.checkbox-ios.focused .checkbox-ios-switch:before {
  box-shadow: inset 0px 0px 4px #ff5623;
}

.create__info-text {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.create__info-text__left {
  display: flex;
  flex-direction: column;
}

.create__info-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
}

.create__info-description {
  font-size: 13px;
  line-height: 125%;
  color: #9596A6;
}

.create__info-button {
  width: 100%;
  margin: 100px auto;
  padding: 20px;
  line-height: 19px;
  padding-left: 330px;
  text-transform: none;
}

.stats {
  margin-top: 150px;
}

.stats .collection__grid-header {
  color: #000;
}

.stats__sorting {
  padding: 5px 0 0 5px;
}

.creators__container {
  margin-top: 150px;
}

.creators__main {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 70px;

}

.creator__card {
  width: 370px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding-bottom: 20px;
}

.creator__card-header {
  position: relative;
  width: 100%;
  height: 170px;
  background-size: cover;
  background-position: center;
}

.creator__card-avatar {
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.creator__card-body {
  margin-top: 40px;
  padding: 0 20px;
}

.creator__name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.creator__stats {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  color: #000;
  margin: 20px auto;
}

.creator__stats div {
  font-size: 13px;
  color:
    #828282;
  line-height: 16px;
}

.creator__stats strong {
  font-size: 18px;
  color: #12141D;
  line-height: 25 px;
}

.creator__stats .card__ETH-price {
  font-size: 18px;
  color:
    #000;
  line-height: 16px;
  font-weight: 500;
}

.creator__stats .card__ETH {
  margin: 0;
}

.creator__card-body a {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.creator__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0 20px;
}

.creator__gallery img {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}

.wallet__container {
  display: flex;
  justify-content: space-between
}

.wallet__container subtitle {
  margin: 80px 0 100px 0;
  font-size: 35px;
  letter-spacing: -4%;
  line-height: 125%;
}

.wallet__left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 35px;
  width: 50%;
}

.wallet__header {
  width: 100%;
  margin: 10px;
  margin-top: 40px;
}

.wallet__row {
  width: 395px;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 5px 10px 50px 0 #0000001A;
  font-weight: 600;
  font-size: 18px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.wallet__row-img {
  margin-right: 10px;

}

.wallet__left .blackbutton {
  width: 61%;
  padding: 20px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 3%;
  margin-top: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.wallet__footer {
  display: flex;
  justify-content: space-between;
  color: #AAAAAA;
  margin: 10px;
  margin-top: 60px;
}

.wallet__right {
  display: flex;
  flex-direction: column;
  background-color: #141416;
  width: 50%;
  color: #FFFFFF;
  margin-right: -6%;
}

.wallet__right-img {
  margin: 100px;
  margin-bottom: 30px;
}

.wallet__right-text {
  position: relative;
  text-align: center;
}

.wallet__right-title {
  font-weight: 700;
  font-size: 47px;
  line-height: 56px;
  padding: 10px 140px;
}

.wallet__right-subtitle {
  font-size: 16px;
  line-height: 28px;
  color: #6D6D6D;
  padding: 10px 140px;
}

.wallet__navigation {
  position: absolute;
  top: 120%;
  left: 35%;
}

@media (max-width: 1350px) {
  .features__right-abstraction2 {
    width: 330px;
    left: 74%;
    top: 28%;
  }

}

@media (max-width: 1315px) {
  .search-icon {
    left: 51%;
    top: 64%;
    width: 15px;
    height: 15px;
  }

  .container {
    max-width: 980px;
  }

  .search_box {
    width: 120%;
    height: 41px;
  }

  .button {
    padding: 13px;
  }

  .blackbutton {
    padding: auto;
  }

  .header__right {
    gap: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .header__container {
    gap: 40px;
    align-items: center;
    justify-content: space-between;
  }

  .header__left {
    gap: 20px;
  }


  .logo {
    width: 38px;
    height: 38px;
    margin-top: 10px;
  }

  .features__left-title {
    font-size: 53px;
  }

  .subtitle {
    font-size: 35px;
  }

  .features__left-title::after {
    width: 30%;
  }

  .features__left-subtitle,
  .bonus {
    font-size: 13px;
    line-height: 22px;
    white-space: wrap;
  }

  .features__result-item {
    font-size: 26px;
  }

  .features__result-text {
    font-size: 9px;
    line-height: 14px;
  }

  .features__right-abstraction1 {
    width: 280px;
    height: 280px;
  }

  .features__right-abstraction2 {
    width: 250px;
    left: 74%;
    top: 28%;
  }

  .features__right-dot {
    left: 86%;
  }

  .features__right-arrow {
    width: 92px;
    height: 90px;
    left: 77%;
  }

  .features__navigation {
    width: 180px;
    height: 70px;
    left: 53%;
  }

  .top__navigation {
    width: 180px;
    height: 70px;
    left: 53%;
  }

  .top__main {
    width: 120%;
    gap: 25px;
    padding: 0 -10%;
  }

  .view__all-image {
    height: 30px;
    width: 86px;
  }

  .collection__img {
    width: 60px;
    height: 60px;
  }


  .viewed__header {
    font-size: 14.93px;
  }

  .viewed__main-container-img img {
    width: 33px;
    height: 33px;
  }

  .viewed__number {
    font-size: 8px;
  }

  .viewed__text-name {
    font-size: 11px;
  }

  .viewed__text-nickname {
    font-size: 8px;
  }

  .viewed__ETH-price {
    font-size: 11px;
  }

  .viewed__profitperc,
  .viewed__deficitperc {
    font-size: 10px;
  }

  .header__nav {
    padding-bottom: 10px;
  }

  .header__nav-item,
  .header__nav-link {
    font-size: 13px;
  }

  .collection__text-name {
    font-size: 20px;
  }

  .collection__text-nickname {
    font-size: 16px;
  }

  .ETH__price,
  .collection__grid-item,
  .collection__grid-header {
    font-size: 17px;
  }

  .collection__ETH {
    padding: 0;
  }

  .marketplace__main {
    row-gap: 50px;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .marketplace__button {
    font-size: 11px;
  }

  .card {
    width: 200px;
    max-width: 200px;
    height: 287px;
  }

  .card__img {
    height: 190px;
    width: 200px;
  }

  .card__name {
    white-space: nowrap;
  }

  .card__namea {
    font-size: 15px;
  }

  .card__bid {
    white-space: nowrap;
    font-size: 10px;
  }

  .card__name {
    font-size: 15px;
  }

  .card__ETH-price {
    font-size: 10px;
  }

  .card__button {
    font-size: 10px;
    width: 86px;
    height: 36px;
  }

  .community__subtitle,
  .community__title {
    font-size: 32px;
  }

  .community__list-item {
    font-size: 11px;
  }

  .check__icon {
    width: 24px;
    height: 24px;
    padding-bottom: 5px;
  }

  .community__left .button {
    font-size: 11px;
  }

  .community__right .viewed {
    height: 40%;
  }

  .notification {
    left: 50%;
    width: 75%;
  }

  .join__outer-circle {
    width: 1000px;
    height: 1000px;
  }

  .join__inner-circle {
    width: 800px;
    height: 800px
  }

  .questions__title,
  .questions__subtitle {
    font-size: 35px;
  }

  .questions__main-row__text {
    font: size 18px;
    ;
  }

  .sell__container-left__title {
    font-size: 32px;
  }

  .sell__container-right__img {

    width: 260px;
    height: 177px;
  }

  .footer__menu-item {
    font-size: 13px;
  }

  .logo__white {
    width: 46px;
    height: 46px;
  }

  .org__name {
    font-size: 21px;
  }

  .footer__contacts-left {
    font-size: 12px;
  }

  .footer__contacts-logo {
    width: 15px;
    height: 15px;
  }

  .loading-img {
    width: 35px;
    height: 35px;
  }

  .discover__button {
    font-size: 11px;
  }

  .detail__row {
    font-size: 22px;
  }

  .detail__row img {
    width: 26px;
    height: 26px;
  }

  .detail__header-title {
    font-size: 22px;
  }

  .detail__left {
    width: 440px;
    height: 440px;
  }

  .detail__right-title {
    font-size: 36px;
  }

  .detail__right-text {
    font-size: 14px;
  }

  .detail__right-avatar {
    padding-top: 20px;
  }

  .detail__right-info {
    margin-top: 20px;
  }

  .detail__avatar-img {
    width: 46px;
    height: 46px;
  }

  .detail__ETH-price {
    font-size: 28px;
  }

  .detail__avatar-text__by {
    font-size: 13px;
    white-space: nowrap;
  }

  .detail__avatar-text__name {
    font-size: 17px;
  }

  .detail__info-bid,
  .detail__info-price {
    font-size: 12px;
  }

  .detail__info-data__time {
    font-size: 13px;
  }

  .detail__button {
    font-size: 13px;
    padding: 22px 100px;
    margin-top: 20px;
  }

  .detail__button img {
    width: 15px;
    height: 15px;
  }

  .history {
    margin: 70px 0;
  }

  .history__schedule-img {
    width: 600px;
    height: 340px;
  }

  .history__window {
    width: 300px;
    height: 340px;
  }

  .history__window-header {
    margin: 15px 152px 0 20px;
  }

  .history__window-main {
    margin: 10px;
  }

  .history__window-header__text {
    font-size: 11px;
  }

  .history__window-header__data {
    font-size: 8px;
  }

  .history__window-img {
    width: 34px;
    height: 34px;
  }

  .history__window-checked {
    width: 11px;
    height: 11px;
    left: 15%
  }


  .history__window__text-name {
    font-size: 9px;
  }

  .history__window__text-date {
    font-size: 8px;
  }

  .history__window-row__right {
    padding: 0;
  }

  .history__window-row__right-ETH {
    width: 7px;
    height: 11px;
    margin-top: 5px;
  }

  .history__window-row__right-ETH__price {
    font-size: 11px;
  }

  .history__window-buy {
    margin: 10px 0;
  }

  .history__window-buy__text {
    font-size: 11px;
  }

  .history__window-buy__area {
    height: 38px;
  }


  .history__window-buttonbid {
    font-size: 11px;
    height: 36px;
    width: 35%;
    display: flex;
    justify-content: center;
  }



  .history__window-buttonbuy {
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .history__window-buttonbuy img {
    width: 11px;
    height: 11px;
  }

  .creator__title {
    font-size: 22px;
    padding-left: 20px;
  }
  .minicard__top {
    display: flex;
    justify-content: center;
  }
  
  .minicard__img {
    width: 188px;
    height: 164px;
  }
  
  .minicard__bot {
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 10px;
    align-items: center;
    margin-top: 10px;
    padding: 18px;
  }
  
  .minicard__author {
    margin: 5px 0;
  }
  
  .minicard__author-checked {
    padding-top: 1px;
  }
  
  .minicard__author-name {
    font-weight: 700;
  }
  
  .minicard__name {
    font-weight: 600;
    font-size: 17px;
  }
  
  .minicard__price {
    margin-top: 10px;
  }
  
  .minicard__ETH-price {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 7px;
    line-height: 26px;
  }
  
  .minicard__right {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 0;
    justify-content: flex-end;
  }
  
  .minicard__right-like {
    width: 13px;
    height: 13px;
    margin-top: 0;
  }
  
  .minicard__right-number {
    color: #888888;
    font-size: 12px;
  }
  
  .minicard__bot { 
    display: flex;
  }
  
  .minicard__top {
    display: block;
  }
  
  .minicard__img {
    width: 133px;
    height: 116px;
  }
  
  .minicard__author-name {
    font-size: 10px;
  }
  
  .minicard__author-checked {
    width: 11px;
    height: 11px;
  }
  
  .minicard__name {
    font-size: 12px;
  }
  
  .minicard__ETH {
    width: 9px;
    height: 13px;
  }
  
  .minicard__ETH-price {
    font-size: 13px;
  }
}




/* .top__navigationbtn {
  right: 25%;
  } */








/* @media (max-width: 1000px) {
  .container {
    max-width: 800px;
  }

}

@media (max-width: 800px) {
  .container {
    max-width: 600px;
  }

  .navigation__list {
    flex-direction: column;
    display: none;
  }

  .navigation__burger {
    display: block;

  }

} */